@charset "utf-8";

* {
  box-sizing: border-box;
  color: #1e2022;
  /* font: 13px 'Gothiche', 'Gothiche', 고딕체, Gothiche, sans-serif; */
  font: 12px "Gothic", "Gothic", 고딕, Gothic, sans-serif;
}

body,
div,
span,
nav,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

select,
input {
  height: 22px;
  font-size: 12px;
}

input[type="checkbox"],
input[type="radio"] {
  height: 14px;
  margin: 3px 0 0 0;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: 300px auto;
  /* 메뉴 숨기기 : 300px auto; 0 auto */
  grid-template-rows: 37px 24px auto;
  row-gap: 1px;
  background: black;
  /* padding: 10px; */
  height: 100vh;
}

div.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 8px 20px;
  background: white;
}

div.logo a {
  font-weight: normal;
  font-size: 16px;
}

/* 헤더 */
header {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  font-size: 16px;
}

header .top-menu {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  width: 100%;
  align-items: stretch;
}

header .top-menu div {
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 8px 20px;
}

header .top-menu div.slice {
  flex-grow: 1;
}

header .top-menu div a {
  font-weight: normal;
  text-decoration: none;
  font-size: 15px;
}

/* 대메뉴중 선택된 메뉴 */
header .top-menu div a.selected {
  font-weight: bold;
}

/*  왼쪽 메뉴 */
nav {
  grid-row-start: 2;
  grid-row-end: 4;
  padding-top: 12px;
}

/* 메뉴 숨기기 */
/* nav > div {
    display: none;
} */

/*  왼쪽 메뉴 - 아코디언 */
nav.menu {
  background: white;
  border-right: 1px solid black;
}

nav.menu input[type="radio"] {
  display: none;
}

nav.menu label {
  display: block;
  padding: 8px 20px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

nav.menu input[type="radio"]:checked + span {
  display: block;
  cursor: pointer;
  position: relative;
}

nav.menu input[type="radio"]:hover + span {
  font-weight: normal;
}

nav.menu input[type="radio"]:checked + span {
  font-weight: normal;
}

/*  // 왼쪽 메뉴 - 아코디언 */
/*  // 왼쪽 메뉴 */

/* 탭바 */
div.tabbar {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: flex-end;
  background: white;
  overflow: hidden;
}

div.tabbar > span {
  font-size: 12px;
  padding: 5px 10px;
  border-right: 1px solid black;
  cursor: pointer;
  word-break: break-all;
  table-layout: fixed;
  overflow: hidden;
}

div.tabbar span.selected {
  font-weight: bold;
}

div.tabbar > span > span.close {
  padding-left: 5px;
  padding-bottom: 2px;
}

div.tabbar > span > span.close-empty {
  padding-right: 5px;
}

/* // 탭바 */

section {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  background: white;
  padding: 10px;
}

/* Main */
main {
  flex: 1 0 100%;
  overflow-y: auto;
}

/* form */
.page {
  min-width: 860px;
  font-size: 12px;
}

.page > .title {
  padding: 0 3px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Main - Form */
.form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 1px;
  background: black;
}

.form > .row > .col-8 {
  display: flex;
  gap: 1px;
  background: black;
}

.form > .row > .col-8 > div:nth-child(odd) {
  background: #ddd;
  flex: none;
  flex-wrap: nowrap;
  width: 120px;
  text-align: right;
  padding: 3px 5px;
}

.form > .row > .col-8 > div:nth-child(even) {
  flex-grow: 1;
  flex-basis: 200px;
}

.form > .row > .col-8 > div:nth-child(even) select,
.form > .row > .col-8 > div:nth-child(even) input {
  border-width: 0;
  width: 100%;
}

/* row group */

.row-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px 0 0 0;
}

.row-group .left {
  margin-right: auto;
  vertical-align: bottom;
}

.row-group .left .title {
  display: inline-block;
  padding-top: 4px;
}

.row-group .center {
  margin-right: auto;
}

.row-group .center .paging {
  display: inline-block;
  padding-top: 4px;
}

.row-group .center .paging > span {
  padding: 0 5px;
  cursor: pointer;
}

.row-group .center .paging > span:hover {
  font-weight: bold;
}

.row-group .right {
  margin-left: auto;
  background: left;
}

/* button Group */

.button-right input {
  padding: 2px 8px 4px 8px;
  border: 1px solid black;
  margin-left: 3px;
  height: 23px;
  background-color: white;
  color: black;
}

.button-right input:active {
  background-color: #ccc;
}

.table {
  margin-top: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  border: 1px solid black;
  background-color: #ddd;
  height: 23px;
}

.table td {
  border: 1px solid black;
  text-align: center;
}

.table td select,
.table td input {
  border-width: 0;
  width: 100%;
}

.table td span {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 3px;
}

.table td span.center {
  text-align: center;
}

.table td span.right {
  text-align: right;
}
